modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-49e09d34-b4bb-4aa1-a9b8-4845dafd2725"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_mBYVQFlcUPYhkPokBpdaRfQDSBV"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_DPvDqlxFvylugSdVsmAptlFgdlb"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_AnBknYBMGcfFlcpnPuJAFTUjBHn"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appd42beb7cdc"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app7ba77d54ef"
REVENUECAT_PROJECT_ID = "proj7339034d"
REVENUECAT_TEST_STORE_APP_ID = "app67e3ee8663"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18112
externalPort = 80

[[ports]]
localPort = 18115
externalPort = 3001

[[ports]]
localPort = 21776
externalPort = 3000
