modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-49e09d34-b4bb-4aa1-a9b8-4845dafd2725"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_sOHUPxTDljGvuIOreRYpqqzNPgF"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_mSJNjIvhgGafhukbTcqgRsIBTGP"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app07a016d729"
REVENUECAT_PROJECT_ID = "projecf6dcad"
REVENUECAT_TEST_STORE_APP_ID = "app2cfe6c46eb"
FACEBOOK_APP_ID = "2163340484245059"
